.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.typing-test-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.target-paragraph {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.target-paragraph span {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  user-select: none;
}

.note{
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.815);
}

.correct {
  background-color: #c1f0c1;
}

.incorrect {
  background-color: #f8b0b0;
}

.input-container {
  display: flex;
  align-items: center;
}

.textarea {
  width: 500px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.btn {
  padding: 5px 10px;
  font-size: 1rem;
}

.btns{
  margin: 20px 0;
}

.btns .btn {
  padding: 5px 10px;
  font-size: 1rem;
  margin: 0 20px;
}

.results {
  margin-top: 20px;
  font-size: 1.2rem;
}
